extends layout

block append css
   link(rel='stylesheet', href='/css/createThread.css')
   
block append scripts
   script(src="/js/utilities/threads.js")
   script(src="/js/createThread.js")

block content
   h2 Create a new thread!
   
   #options
      label(for="name") Name of the thread:
      input#name(type="text" tabindex="1" placeholder="Name")
      
      #finalize
         a(href="../") Cancel
         button#submit(tabindex="2") Create!
