extends layout

block append css
   link(rel='stylesheet', href='/css/threads.css')

block append scripts
   script(src="/js/dashboard.js")

block content
   table#threads
      thead
         tr
            th Name
            th Posts
      tbody
         each thread in threads
            tr
               td
                  .ellipsis
                     a.tname(href="/thread/#{thread.id}")= thread.name
               td
                  .ellipsis
                     | #{thread.count}
