extends layout

block append css
   link(rel='stylesheet', href='/css/threads.css')
   link(rel='stylesheet', href='/css/pagination.css')

block append scripts
   script(src="/js/dashboard.js")

block content

   #threads
      h2 Dashboard
      input.search(placeholder="Search")
         
      table
         thead
            tr
               th.tname.sort(data-sort='name') Name
               th.tcount.sort(data-sort='posts') # of Posts
         tbody.list
            each thread in threads
               tr
                  td
                     a.name(href="/thread/#{thread.id}")= thread.name
                        em(style="float:right;")= thread.last_updated
                  td.tcount
                     a.posts(href="/thread/#{thread.id}")= thread.count
         tfoot
            tr
               td(colspan="2").pages-container
                  .pages
                     span Page(s): 
                     ul.pagination
