extends layout

block append css
   link(rel="stylesheet" href="/css/dashboard.css")

block content
   if username
      h1 Welcome #{username}
      a(href="logout") Logout
   else
      h1 Welcome!  Please Sign in to be able to post.
   
   #threads
      each thread in threads
         .thread
            a(href="/thread/#{thread.id}")= thread.name
