doctype html
html
   head
      title= title
      
      block css
         link(rel='stylesheet', href='/css/style.css')
         link(rel='stylesheet', href='/css/libraries/alertify/alertify.css')
   body
      block content
   footer
      block scripts
         script(src="/js/libraries/jquery-3.1.1.min.js")
         script(src="/js/libraries/alertify/alertify.js")
