doctype html
html
   head
      title= title
      
      block css
         link(rel='stylesheet', href='/css/style.css')
         link(rel='stylesheet', href='/libraries/alertify/alertify.css')
   body
      block content
   footer
      block scripts
         script(src="/libraries/jquery-3.1.1.min.js")
         script(src="/libraries/alertify/alertify.js")
         script(src="/libraries/quill-1-1-7/quill.js")
