extends layout

block content
   label(for="username") Username:
      input(type="text" name="username" placeholder="username")
   label(for="password") Password: 
      input(type="password" name="username" placeholder="username")
