extends layout

block append css
   link(rel="stylesheet" href="/css/thread.css")

block append scripts
   script(src="/js/utilities/posts.js")
   script(src="/js/thread.js")

block content
   h2= title

   table#posts
      tbody
         each post in posts
            tr.post
               td.posted-by
                  h3= post.username
               td.message-area
                  .message
                     p= post.message
                  .date-posted
                     em= post.date_posted

   #quillArea
      #quillInput
      button#submitPost Save
