extends layout

block append css
   link(rel="stylesheet" href="/css/thread.css")

block append scripts
   script(src="/js/utilities/posts.js")
   script(src="/js/thread.js")

block content
   #posts
      each post in posts
         .post
            .posted-by= post.username
            .message= post.message
            .date-posted= post.date_posted

   #quillArea
      #quillInput
      button#submitPost Save
