#options {
   width: 90%;
   max-width: 400px;

   text-align: center;
   margin: 0 auto;
}
#options label {
   display: block;
   margin: 0;
   text-align: left;
}
#options input {
   width: 100%;
   font-size: 20px;

   margin-bottom: 10px;
   padding-left: 5px;
   padding-right: 5px;
   line-height: 30px;
}

#finalize {
   width: 100%;
   text-align: right;
}
#finalize a {
   margin: 0 10px;
   text-decoration: none;
}
#finalize button {
   width: 150px;
   height: 30px;

   font-size: 1.1em;
   color: #fff;
   background-color: rgb(255, 0, 0);
   border: none;
   cursor: pointer;
}
#finalize button:hover {
   background-color: rgb(225, 0, 0);
}
