body {
   font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;

   margin: 0;
   padding: 0;
}

#content {
   position: relative;
   padding: 16px;
}

#nav {
   height: 50px;

   color: #fff;
   background-color: rgb(41, 41, 41);
}
#nav a {
   color: #fff;
   text-decoration: none;

   padding: 16px;
   line-height: 50px;

   transition: .2s background-color cubic-bezier(0, 0, 0.23, 1.11);
}
#nav a:hover {
   background-color: #ff4444;
}
#nav #status {
   float: right;
}
#nav #status span {
   margin: 0 5px;
}

h2 {
   text-align: center;
}
a {
   color: #00B7FF;
}

input {
   box-sizing: border-box;
   outline: none;
   border: 1px solid rgb(200, 200, 200);
   border-radius: 2px;
}
input:focus {
   border: 1px solid #ff4444;
}

button {
   border: 1px solid rgb(200, 200, 200);
   outline: none;
   transition: .2s background-color cubic-bezier(0, 0, 0.23, 1.11);
}

.ellipsis {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
